<h1>IdeaBox</h1>

<h3>Here are the ideas created on <%=search_by_time%></h3>

<ul>
  <% ideas.each do |idea| %>
    <% if idea.day_of_the_week == search_by_time %>
      <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
        <input type='submit' value="Like!"/>
      </form>
      <li>  
        <p>
          Idea Title: .................<%= idea.title %>
        </p>
        <p>
          Idea Description: .....<%= idea.description %>
        </p>
        <p>
          Idea Tags: ................<%= idea.tags %>
        </p>
        <p>
          Created At: ................<%= idea.created_at.asctime%>
        </p>
        <hr />
      </li>
    </form>
    <%else%>
    NO MATCHES!
    <% end %>
  <% end %>
</ul>
