<h1>IdeaBox</h1>
<h3>Here are the ideas created between <%=search_by_hour%>:00<%=search_am_pm%> and <%=search_by_hour%>:59<%=search_am_pm%> </h3>
<ul>
  <div class="row">
    <% ideas.each do |idea| %>
      <% if idea.time_match?(search_by_hour, search_am_pm)%>
        <%= erb :'partials/_idea', :layout => false, :locals => { :idea => idea} %>
      <%end%>
    <% end %>
  </div>
</ul>
